/* CSS Reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

/* TYPOGRAPHY */

html {
	font-family: "Times New Roman",Times,serif;
	font-size: 1rem;
	line-height: 1.5em;
	font-weight: normal;
}

h1 {
	font-size: 2.34rem;
	line-height: 2.56rem;
	text-transform: uppercase;
	padding: 1.78rem 0;
}

.description p{
	line-height: 1.3rem;
	font-style: italic;
	padding-bottom: 2rem;
}

.byline {
	font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: small;
	font-weight: 500;
}
.meta {
	text-align: center;
}

time {
	font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: x-small;
}
/* Interactive elements */

.category {
	margin: 2rem .25rem 0;
}
a.category:link, a.category:visited {
	color: rgb(219, 51, 52);
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	font-size: small;
}

a.category:hover, a.category:focus {
	text-decoration: underline;
}

/* IMAGES */
img {
	display: block;
	width: 100%;
}

header img {
	padding: 2rem 3rem;
}

header ul img {
	max-width: 1rem;
	padding: 0 0;
}

img.envelop { /* tweaks to make a rectangle have similar height as the squares */
	max-width: 1.5rem;
	margin-top: -.25rem;
}

img.bookmark { /* tweaks bookmark so that it has a circlular border like in the original */
	border: 1px solid #000000;
	border-radius: 50%;
	padding: .125rem;
	box-sizing: content-box;
	margin-top: -.125rem;
}

/* LAYOUT */

header {
	border-bottom: #cccccc 1px solid;
}
header ul {
	list-style-type: none;
	padding: 1.5rem 4.5rem;
}
.meta {
	padding: 0 1.5rem;
}
.interior {
	max-width: 27.8rem;
}

@media screen and (min-width: 44.44rem){

	header img {
		padding: 6rem 3rem;
		
	}

	.meta { /* need to take up half of the width of viewport */
		
	}
}
